<h2>New Song</h2>

<form method="post" action="/songs">
  <label>Title:</label>
  <input name="song[title]">

  <label>Album:</label>
  <input name="song[album]">

  <label>Preview URL:</label>
  <input name="song[preview_url]">

  <label>Artist Id:</label>
  <input name="song[artist_id]">

  <input type="submit" value="Create Artist">
</form>
